.modals
	#commonModalOverlay.modal__overlay
	include _modals/modal_menu
	include _modals/modal_try_on
	include _modals/modal_card
	include _modals/modal_delete_account
	include _modals/modal_checkout_moscow
	include _modals/modal_checkout_self
	include _modals/modal_phone_confirm
	include _modals/modal_phone_confirm_2
	include _modals/modal_video
	include _modals/modal_phone
	include _modals/modal_product_count
