extends _base/_layout
block settings 

	- title = 'Диоптрика — Доставка и оплата';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.rules
			.rules__breadcrumbs.breadcrumbs
				a.breadcrumbs__link(href="/") Диоптрика
				span.slash /
				a.breadcrumbs__link.is-active Доставка и оплата

			.rules__top
				h1.section_block__title Доставка и оплата
				p.section_block__text.section_block__text--delivery Пожалуйста, внимательно ознакомьтесь с предоставленной информацией. В случае возникновения любых вопросов, свяжитесь с нами по телефону: #[a.link(href="tel:8 (800) 500-53-29") 8 (800) 500-53-29] или через форму #[a.link(href="modal_return_call") обратной связи].

			.rules__content 

				.rules__block
					p.rules__title Доставка по Москве
					ol.rules__list
						li.rules__text Мы осуществляем бесплатную курьерскую доставку при заказе оправы, солнцезащитных очков или очковых линз на сумму от 3000 руб. по Москве в пределах МКАД;
						li.rules__text График работы службы доставки: ПН–ПТ с 11:00 до 20:00;
						li.rules__text Срок доставки по Москве: в течение 1–2 рабочих дней с момента поступления заказа. Доставка по Москве (за МКАД) — 300 рублей (например районы: Митино, Солнцево, Жулебино и другие);
						li.rules__text Доставка по Московской области осуществляется надежным курьером СДЭК. Точную стоимость скажет вам менеджер после оформления заказа, т.к. сумма зависит от удаленности адреса получателя;
						li.rules__text Если при получении товара надлежащего качества, он вам не подошел по размеру, цвету или иной причине, услуга по доставке считается оказанной, ее стоимость*:
					p.rules__text.rules__text--margin24 По Москве в пределах МКАД — 300 руб. #[br] По Москве за МКАД — 600 руб.
					p.rules__text.rules__text--small * Если вы отказываетесь от покупки товара при его получении, или возвращаете товар, который вам был доставлен, то стоимость доставки не возвращается и подлежит уплате, так как услуги курьера были оказаны в полном объеме.


				.rules__block
					p.rules__title Доставка по России #[br.mobile] и Московской области
					p.rules__text.rules__text--nomargin Курьерская доставка по России и Московской области осуществляется компанией СДЭК, при условии нахождения в вашем городе офиса представительства компании-перевозчика ООО «СДЭК». В каких городах РФ есть СДЭК — можно посмотреть на их официальном сайте. Если офиса СДЭК нет в вашем городе — заказ будет отправлен вам Почтой России.
					
					.rules__block_wrap
						p.rules__caption Отправка заказа
						p.rules__text.rules__text--nomargin Срок доставки курьерской службой от 2 до 14 рабочих дней (в зависимости от удаленности). Все отправления тщательно упаковываются в прочный картон и защитную пленку.

					.rules__block_wrap
						p.rules__caption Оплата
						ol.rules__list
							li.rules__text Мы просим своих клиентов оплатить услуги курьерской службы заранее (речь идёт о стоимости доставки до вашего города). Стоимость товара вы оплачиваете курьеру на месте только после визуального осмотра товара и примерки;
							li.rules__text Стоимость доставки по России и Московской области примерно колеблется от 300 руб. до 1000 руб. (точная сумма всегда зависит от города и удаленности);
							li.rules__text В комплекте с очками вы получите: товарный и кассовый чек, буклет с детальной информацией о товаре и его свойствах, правила обмена или возврата.

					.rules__block_wrap
						p.rules__caption Если очки или оправа вам не подошли
						p.rules__text.rules__text--nomargin Если вы отказываетесь от товара надлежащего качества (он вам не подошёл по размеру, цвету или иной причине), то в таком случае вы оплачиваете только стоимость за доставку. Услуга по доставке считается оказанной при заказе из региона России — оплачивается также сумма обратной доставки (возврата товара).