extends _base/_layout
block settings 

	- title = 'Диоптрика — Документы';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.documents
			.documents__breadcrumbs.breadcrumbs(itemscope itemtype="https://schema.org/BreadcrumbList")
				a.breadcrumbs__link(href="/" itemprop="name") Диоптрика
				span.slash /
				a.breadcrumbs__link.is-active(itemprop="name") Документы

			h1.section_block__title Документы

			.documents__content 
				a.documents__btn(href="/")
					span.text Оферта
					+svg('download', 'icon')
				a.documents__btn(href="/")
					span.text Общие положения договора
					+svg('download', 'icon')
				a.documents__btn(href="/")
					span.text Права, обязанности и ответственность участников договора
					+svg('download', 'icon')