extends _base/_layout
block settings 

	- title = 'Диоптрика — FAQ';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.faq
			.faq__breadcrumbs.breadcrumbs(itemscope itemtype="https://schema.org/BreadcrumbList")
				a.breadcrumbs__link(href="/" itemprop="name") Диоптрика
				span.slash /
				a.breadcrumbs__link.is-active(itemprop="name") FAQ

			h1.section_block__title Вопросы и ответы

			.faq__content 

				.faq_dropdown(data-dropdown-block="")
					.faq_dropdown__top(data-dropdown-block-btn) 
						h3.faq_dropdown__title Какие бывают очки для зрения?
						+svg('link_arrow', 'icon')
					.faq_dropdown__info
						p.faq_dropdown__text Стоимость очков складывается из четырёх составляющих: #[br] 1. Проверка зрения; #[br] 2. Стоимость оправы очков; #[br] 3. Стоимость линз; #[br] 4. Стоимость работы (нужно выточить очковые линзы и правильно вставить их в оправу).
						p.faq_dropdown__text Во многих частных клиниках проверка зрения и подбор очков составляет в среднем от 1500 рублей до 3500 рублей и выше, это зависит от клиники и квалификации доктора.
						p.faq_dropdown__text В нашей оптике проверка зрения осуществляется бесплатно.
						p.faq_dropdown__text В нашей оптике стоимость оправ колеблется от 500 рублей и выше (некоторые модели оправ могут быть не представлены в онлайн каталоге, однако присутствуют в нашем салоне оптики в Москве). #[br] Стоимость оправы зависит от бренда. Есть действительно очень дорогие оправы люксовых марок.
						p.faq_dropdown__text Стоимость линз также зависит от бренда и страны производителя оптических линз, но больше всего цена зависит от толщины линзы, чем линза тоньше, тем она дороже и от качества и функциональности покрытия. Цена линз будет выше у фотохромиях линз, чем у прозрачных. Существуют также высокотехнологичные линзы, например Stellest, контролирующие прогрессирование миопии у детей, они априори будут стоить дорого. Стоимость работы в различных оптиках разнится очень сильно.
						p.faq_dropdown__text Во многих оптиках она фиксированная. Стоимость работы будет самой недорогой, если это обычная полноободковая оправа, если оправа с леской сверху или снизу, то стоимость возрастает, так как такие очки сделать гораздо сложнее, а если оправа винтовая или на втулках, цена заготовления очков ещё увеличится, потому что такой заказ требует очень высокой квалификации мастера и больших затрат по времени (от полутора до двух часов) на изготовление одних очков. В некоторых оптиках стоимость работы составляет от 10% до 25-30% от стоимости заказа.
				
				.faq_dropdown(data-dropdown-block="")
					.faq_dropdown__top(data-dropdown-block-btn) 
						h3.faq_dropdown__title Сколько стоит сделать очки?
						+svg('link_arrow', 'icon')
					.faq_dropdown__info
						p.faq_dropdown__text Стоимость очков складывается из четырёх составляющих: #[br] 1. Проверка зрения; #[br] 2. Стоимость оправы очков; #[br] 3. Стоимость линз; #[br] 4. Стоимость работы (нужно выточить очковые линзы и правильно вставить их в оправу).
						p.faq_dropdown__text Во многих частных клиниках проверка зрения и подбор очков составляет в среднем от 1500 рублей до 3500 рублей и выше, это зависит от клиники и квалификации доктора.
						p.faq_dropdown__text В нашей оптике проверка зрения осуществляется бесплатно.
						p.faq_dropdown__text В нашей оптике стоимость оправ колеблется от 500 рублей и выше (некоторые модели оправ могут быть не представлены в онлайн каталоге, однако присутствуют в нашем салоне оптики в Москве). #[br] Стоимость оправы зависит от бренда. Есть действительно очень дорогие оправы люксовых марок.
						p.faq_dropdown__text Стоимость линз также зависит от бренда и страны производителя оптических линз, но больше всего цена зависит от толщины линзы, чем линза тоньше, тем она дороже и от качества и функциональности покрытия. Цена линз будет выше у фотохромиях линз, чем у прозрачных. Существуют также высокотехнологичные линзы, например Stellest, контролирующие прогрессирование миопии у детей, они априори будут стоить дорого. Стоимость работы в различных оптиках разнится очень сильно.
						p.faq_dropdown__text Во многих оптиках она фиксированная. Стоимость работы будет самой недорогой, если это обычная полноободковая оправа, если оправа с леской сверху или снизу, то стоимость возрастает, так как такие очки сделать гораздо сложнее, а если оправа винтовая или на втулках, цена заготовления очков ещё увеличится, потому что такой заказ требует очень высокой квалификации мастера и больших затрат по времени (от полутора до двух часов) на изготовление одних очков. В некоторых оптиках стоимость работы составляет от 10% до 25-30% от стоимости заказа.
				
				.faq_dropdown(data-dropdown-block="")
					.faq_dropdown__top(data-dropdown-block-btn) 
						h3.faq_dropdown__title Какие бывают очки для зрения?
						+svg('link_arrow', 'icon')
					.faq_dropdown__info
						p.faq_dropdown__text Стоимость очков складывается из четырёх составляющих: #[br] 1. Проверка зрения; #[br] 2. Стоимость оправы очков; #[br] 3. Стоимость линз; #[br] 4. Стоимость работы (нужно выточить очковые линзы и правильно вставить их в оправу).
						p.faq_dropdown__text Во многих частных клиниках проверка зрения и подбор очков составляет в среднем от 1500 рублей до 3500 рублей и выше, это зависит от клиники и квалификации доктора.
						p.faq_dropdown__text В нашей оптике проверка зрения осуществляется бесплатно.
						p.faq_dropdown__text В нашей оптике стоимость оправ колеблется от 500 рублей и выше (некоторые модели оправ могут быть не представлены в онлайн каталоге, однако присутствуют в нашем салоне оптики в Москве). #[br] Стоимость оправы зависит от бренда. Есть действительно очень дорогие оправы люксовых марок.
						p.faq_dropdown__text Стоимость линз также зависит от бренда и страны производителя оптических линз, но больше всего цена зависит от толщины линзы, чем линза тоньше, тем она дороже и от качества и функциональности покрытия. Цена линз будет выше у фотохромиях линз, чем у прозрачных. Существуют также высокотехнологичные линзы, например Stellest, контролирующие прогрессирование миопии у детей, они априори будут стоить дорого. Стоимость работы в различных оптиках разнится очень сильно.
						p.faq_dropdown__text Во многих оптиках она фиксированная. Стоимость работы будет самой недорогой, если это обычная полноободковая оправа, если оправа с леской сверху или снизу, то стоимость возрастает, так как такие очки сделать гораздо сложнее, а если оправа винтовая или на втулках, цена заготовления очков ещё увеличится, потому что такой заказ требует очень высокой квалификации мастера и больших затрат по времени (от полутора до двух часов) на изготовление одних очков. В некоторых оптиках стоимость работы составляет от 10% до 25-30% от стоимости заказа.