extends _base/_layout
block settings 

	- title = 'Диоптрика — Вход в личный кабинет';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.login

			form.login__form
				input(type="hidden", name="form", value=" Форма - Авторизация")

				.login__wrap
					+imgSvg(`${assetsPath}/img/loader.svg`, '', 'loader')

					h1.section_block__title Авторизация
					
					.login__inputs
						.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
							input.input_wrapper__input(type="email" name="email" required autocomplete="off")
							label.input_wrapper__label Email
							.input_wrapper__tooltip(data-input-tooltip="")

						.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
							input.input_wrapper__input(type="password" name="password" required autocomplete="off")
							label.input_wrapper__label Пароль
							.input_wrapper__tooltip(data-input-tooltip="")
						a.footer_table__form_btn.btn.btn--filled(href="/account")
							span.btn__text войти
					
					p.login__text #[a.link(href="/registration") Зарегистрируйтесь], если вы у нас впервые
			
			p.login__text.login__text--bottom #[a.link(href="/password_recovery") Забыли пароль?]
