extends _base/_layout_empty
block settings 

	- title = 'Обратный звонок';

block content
	section.modal_page
		.modal_page__container.modal_page__container--center
			
			.section_block.section_block--center
				h1.section_block__title Обратный звонок
				p.section_block__text Оставьте свои контакты, а мы вам перезвоним.

				form.modal_page__form(action="/mailer" data-mailer="" data-form-id="modal_return_call_form")
					input(type="hidden", name="form", value="Заказать обратный звонок")

					.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
						input.input_wrapper__input(type="text" name="name" required autocomplete="off")
						label.input_wrapper__label Ваше имя
						.input_wrapper__tooltip(data-input-tooltip="")

					.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
						input.input_wrapper__input(type="tel" name="phone" required autocomplete="off")
						label.input_wrapper__label Номер телефона
						.input_wrapper__tooltip(data-input-tooltip="")

					button.footer_table__form_btn.btn.btn--filled.btn--icon_right
						span.btn__text Заказать обратный звонок
						+svg('icon_send', "btn__icon btn__icon--white btn__icon--right")
			
		button.modal_page__button.modal_page__button--absolute(data-history-back="") Вернуться назад

			