extends _base/_layout_empty
block settings 

	- title = 'Спасибо';

block content
	section.modal_page
		.modal_page__container.modal_page__container--center
			
			.section_block.section_block--center
				h1.section_block__title Спасибо!
				p.section_block__text Ваша заявка отправлена. Ожидайте от нас обратной связи.

				button.modal_page__success_btn.btn.btn--grey(data-history-back="")
					span.btn__text ок

			
		

			