extends _base/_layout
block settings 

	- title = 'Диоптрика — Приводите друзей и получайте бонусы за их первую покупку в мобильном приложении';
	

block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.news_card_page
			.news_card_page__bg
				+img(`${assetsPath}/img/news_desk.png`, '', 'image image--desk')
				+img(`${assetsPath}/img/news_mob.jpg`, '', 'image image--mob')

			.news_card_page__container

				.news_card_page__breadcrumbs.breadcrumbs(itemscope itemtype="https://schema.org/BreadcrumbList")
					a.breadcrumbs__link(href="/" itemprop="name") Диоптрика
					span.slash /
					a.breadcrumbs__link(href="/news" itemprop="name") Новости
					span.slash /
					a.breadcrumbs__link.is-active(itemprop="name") Компания Safilo представила коллекции осень-зима 2023

				.news_card_page__content 
					h1.news_card_page__title Компания Safilo представила коллекции осень-зима 2023 своих лицензионных брендов Boss, Carolina Herrera, David Beckham, DSquared2, Marc Jacobs, Moschino.
					p.news_card_page__text Carolina Herrera #[br] Бренд Carolina Herrera обещает создать очки для уверенных в себе женщин, которые отражают женственную и жизнерадостную эстетику марки. В осенне-зимнем ассортименте представлены коллекции оправ и солнцезащитных очков Seasonal и Essential, которые украшены фирменной металлической биркой на закругленных кончиках заушников.
					p.news_card_page__text Коллекция Seasonal характеризуется диагональной вставкой на заушниках, выполненной в цвете Гавана или однотонных вариантах, контрастирующих с основным цветом оправы.
					p.news_card_page__text В серии Essential присутствуют тонкие элементы, такие как вставки в стиле color block, многослойный ацетат и двухцветные металлические заушники. Солнцезащитная модель 0186 (фото на заходе) имеет насыщенный бордовый квадратный силуэт из ацетата с фрезерованной внутренней стороной, придающей оправе скульптурный вид, который дополняет заушник в цвете мраморная розовая Гавана, пересеченная диагональной полосой с логотипом-монограммой.

					p.news_card_page__text BOSS #[br] Оправы и солнцезащитные очки из серии Style & Express в коллекции мужских очков Boss могут похвастаться экологической чистотой. В ней представлены модели, изготовленные из возобновляемого ацетата, а линзы - из нейлона на биооснове или премиального пластика, содержащего переработанные материалы.
					p.news_card_page__text  В коллекции преобладает цвет Гавана, причем в одних моделях он ярко выражен, а в других - заблокирован. Модель 1595/S - это мужской прямоугольный силуэт с большой поверхностью на переносице и полосатым металлическим брендингом, украшающим заушники и типсы.
					p.news_card_page__text Варианты расцветки: черная с серыми линзами, Гавана с зелеными линзами, черная с серыми и узорчатыми линзами или прозрачно-серая со светлыми типсами Гавана и коричневыми линзами. Продолжением мужской прямоугольной тенденции является модель 1597 - оправа с плоским верхом рамки, представленная в двух вариантах: черном или Гавана.

					p.news_card_page__text Marc Jacobs #[br] В линейке мужских очков Marc Jacob's Premium, по словам модного бренда, в смелых дизайнерских решениях достигается ощущение возвышенности.
					p.news_card_page__text Безободковые, металлические, ацетатные и комбинированные модели имеют металлические детали, двойную окантовку в характерных роговых, прозрачных и однотонных вариантах. Солнцезащитные очки 712 (вверху) представляют собой плоскую безободковую маску с ацетатными торцами и заушниками, отделанными металлической окантовкой золотистого или черного рутения и брендингом на заушниках.
					p.news_card_page__text Выделяющийся вариант линз с принтом графической монограммы Marc Jacobs, видимой только постороннему глазу. Модель 1087 (внизу) с обтекаемой оправой создает спортивный образ инопланетянина. В ней большое внимание уделено брендингу: крупная зеркальная деталь J на заушнике, логотип с фотогравировкой под лаком на верхней части оправы и металлическая бляшка с гравировкой на внутренней части заушников.

					p.news_card_page__text Moschino #[br] Очки итальянского модного дома Moschino сезона осень-зима 2023 года включают в себя такие детали, как жемчуг, цепочка и логотип, которые свидетельствуют о пристрастии бренда к гламуру. Женственные оправы и солнцезащитные очки украшены жемчужиной на металлическом логотипе Moschino на заушнике, который также встречается на спортивных солнцезащитных моделях унисекс.
					p.news_card_page__text Более плотный ацетат используется в модели 631 в форме «кошачий глаз», которая предлагается в черном, сером, бордовом, нюдовом и Гавана цветовых вариантах.
					p.news_card_page__text Маска oversize 157 с зеркальными линзами изготовлена из поликарбоната и позволяет создать эффектный образ, предлагая следующие цвета: черный с многослойными зеркальными линзами, синий с оранжевыми линзами, оранжевый с голубыми линзами и розовый с серебряными линзами.

					p.news_card_page__text David Beckham #[br] Очки от David Beckham ориентированы на вневременной дизайн, сочетающий британский стиль с детальностью и функциональностью. В оправах и солнцезащитных линзах, выполненных в утонченном мужском стиле, используется логотип Talisman, вдохновленный крыльями птицы и символизирующий силу, защиту и свободу.
					p.news_card_page__text Солнцезащитная модель 7109 - это	прямоугольная безоправная модель, в которой акцент сделан на цветные линзы, в том числе синие, бордовые и зеленые. Золотая металлическая сердцевина видна на заушниках через прозрачный пластик, а заушник цвета Гавана дополняет золотую деталь, переходящую на фасад рамки.
					p.news_card_page__text Прямоугольная металлическая оправа 7112 в форме броулайнер. Варианты расцветки: матовая черная и палладиевая передняя часть с матовыми черными и прозрачными заушниками.

					p.news_card_page__text DSquared2 #[br] Модели джинсовой марки DSquared2 созданы, чтобы заявить о себе. Они украшены металлическим логотипом, цифровым принтом, напоминающим бирку на джинсах, и деталью в виде кленового листа.
					p.news_card_page__text  Солнцезащитные очки 0118 из серии Hype с обтекаемым cat-eye из ацетата с металлическим логотипом DSquared2 на заушнике. Предлагаются прозрачные, блестящие персиковые и лазурные варианты, а также роговые с зеркальными линзами и черные с серыми линзами.
					p.news_card_page__text Оправа 0086 с квадратной ацетатной рамкой и тонкой металлической вставкой на линии бровей. На заушнике есть клеймо Decentred, а варианты расцветки включают черный с золотом, Гавана с золотом или черный с рутением.