extends _base/_layout
block settings 

	- title = 'Диоптрика — Восстановление пароля';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.login

			form.login__form
				input(type="hidden", name="form", value=" Форма - Восстановление пароля")

				.login__wrap
					+imgSvg(`${assetsPath}/img/loader.svg`, '', 'loader')

					h1.section_block__title Восстановление пароля
					p.section_block__text Укажите email, который вы использовали при регистрации. #[br.desktop] Мы вышлем вам пароль для входа.
					
					.login__inputs
						.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
							input.input_wrapper__input(type="email" name="email" required autocomplete="off")
							label.input_wrapper__label Email
							.input_wrapper__tooltip(data-input-tooltip="")

						button.footer_table__form_btn.btn.btn--filled.is-disabled
							span.btn__text Выслать пароль
					
					p.login__text #[a.link(href="/login") Войти] или #[a.link(href="/registration") зарегистрироваться]
			
			.login__bottom.login__bottom--red
				p.login__text Указанный email не найден. Скорее всего, при регистрации вы использовали другую почту.