extends _base/_layout
block settings 

	- title = 'Диоптрика — Регистрация';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		section.login

			form.login__form
				input(type="hidden", name="form", value=" Форма - Регистрация")

				.login__wrap
					+imgSvg(`${assetsPath}/img/loader.svg`, '', 'loader')

					h1.section_block__title Регистрация
					
					.login__inputs
						.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
							input.input_wrapper__input(type="email" name="email" required autocomplete="off")
							label.input_wrapper__label Email
							.input_wrapper__tooltip(data-input-tooltip="")

						.input_wrapper.input_wrapper--outlined(data-input-wrapper="")
							input.input_wrapper__input(type="password" name="password" required autocomplete="off")
							label.input_wrapper__label Пароль
							.input_wrapper__tooltip(data-input-tooltip="")

						button.footer_table__form_btn.btn.btn--filled.is-disabled
							span.btn__text зарегистрироваться
					
					p.login__text #[a.link(href="/login") Войдите], если у вас уже есть аккаунт
			
			.login__bottom
				p.login__text Чтобы завершить регистрацию, введите пароль, #[br.mobile] который мы только что отправили на указанную почту.