extends _base/_layout
block settings 

	- title = 'Диоптрика — Правила магазина';



block content
	main.view(data-app-layout="view", data-app-layout-namespace="examples")

		.home__tabs
			a.home__tab(href="/")
				+svg('tab_1', 'icon')
				span.text Главная
			a.home__tab(href="/catalog")
				+svg('tab_2', 'icon')
				span.text Каталог
			a.home__tab(href="/cart")
				+svg('tab_3', 'icon')
				span.text Корзина
			a.home__tab(href="/favorites")
				+svg('tab_4', 'icon')
				span.text Избранное
			a.home__tab(href="/account")
				+svg('tab_5', 'icon')
				span.text Войти

		section.rules
			.rules__breadcrumbs.breadcrumbs
				a.breadcrumbs__link(href="/") Диоптрика
				span.slash /
				a.breadcrumbs__link.is-active Правила магазина

			.rules__top 
				h1.section_block__title Правила магазина
				p.section_block__text Пожалуйста, внимательно ознакомьтесь с правилами и условиями совершения покупок в интернет-магазине «Диоптрика». В случае возникновения любых вопросов, свяжитесь с нами по телефону: #[a.link(href="tel:8 (800) 500-53-29") 8 (800) 500-53-29] или через форму  #[a.link(href="modal_return_call") обратной связи].

			.rules__content 

				.rules__block
					p.rules__title Выбор товара
					ol.rules__list
						li.rules__text Во многих оптиках она фиксированная. Стоимость работы будет самой недорогой, если это обычная полноободковая оправа, если оправа с леской сверху или снизу, то стоимость возрастает, так как такие очки сделать гораздо сложнее, а если оправа винтовая или на втулках, цена заготовления очков ещё увеличится, потому что такой заказ требует очень высокой квалификации мастера и больших затрат по времени (от полутора до двух часов) на изготовление одних очков. В некоторых оптиках стоимость работы составляет от 10% до 25-30% от стоимости заказа. В нашем каталоге представлен большой ассортимент товаров, предназначенных для коррекции зрения: контактных линз, медицинских оправ и солнцезащитных очков, а также сопутствующих товаров.
						li.rules__text Напоминаем вам, что перед покупкой средств коррекции зрения необходимо проконсультироваться с врачом-офтальмологом. Заказ контактных линз должен осуществляться только по специальному рецепту, выписанному врачом. При смене контактных линз также обязательна консультация врача-офтальмолога.
						li.rules__text Приобретая товар в нашем интернет-магазине, вы подтверждаете, что знаете все необходимые параметры контактных линз / размер оправы и осуществляете покупку на основе данных из вашего рецепта.
						li.rules__text Оператор интернет-магазина не оказывает консультации по подбору контактных линз. Вы всегда можете получить соответствующие консультации и выписать необходимый рецепт в любом из наших салонов оптики.
						li.rules__text Все товары в нашем интернет-магазине имеют необходимые сертификаты.

				.rules__block
					p.rules__title Цены, скидки и другие #[br.mobile] условия покупки
					ol.rules__list
						li.rules__text Минимальная стоимость заказа в нашем интернет-магазине составляет 350 рублей.
						li.rules__text Цены и ассортимент в интернет-магазине «Диоптрика» отличаются от цен в салонах оптики сети.
						li.rules__text На товары, приобретенные в интернет-магазине «Диоптрика» не распространяются скидки по дисконтным картам сети. Карты действуют только на покупки, осуществляемые в салонах сети.
						li.rules__text При покупке медицинских оправ в нашем интернет-магазине, предоставляется скидка 10% на изготовление очков*, то есть, на очковые линзы и работы по изготовлению очков.
						li.rules__text При покупке медицинских оправ в нашем интернет-магазине, действует гарантия* на изготовление очков во всех салонах сети «Диоптрика».
					p.rules__text.rules__text--small * Скидки и условия гарантии распространяются при условии изготовления очков в оправу, приобретенную в интернет-магазине «Диоптрика», при наличии подтверждающего документа – кассового / товарного чека или накладной на приобретенную оправу (документы предоставляются вместе с товаром при покупке).
			  
				.rules__block
					p.rules__title Доставка заказов
					p.rules__text.rules__text--nomargin Наш курьер привезёт готовый заказ или до пяти пар очков на примерку в удобное для вас место (в пределах КАД) и время. Или вы можете забрать заказ в любом из наших салонов в течение 1-2 рабочих дней после подтверждения заказа. Точное время уточнит наш оператор. Вы можете ознакомиться с условиями доставки и оплаты заказов в разделе «Доставка и оплата».
					
			  
				.rules__block
					p.rules__title Отказ от заказа
					ol.rules__list
						li.rules__text Отказ от заказа может быть оформлен до 20:00 рабочего дня, предшествующего дню доставки – по телефону +7 (812) 528-13-43 или адресу электронной почты, указанному на сайте: zakaz@euro-optica.ru.
						li.rules__text Чтобы оформить отказ, необходимо в письме или по телефону указать номер заказа.
						li.rules__text При отказе от товара в момент получения заказа, по прибытии курьера на адрес доставки (товар надлежащего качества, отказ не был подтвержден оператором), должна быть оплачена полная стоимость доставки – 300 рублей.
					
			  
				.rules__block
					p.rules__title Обмен и возврат
					ol.rules__list
						li.rules__text В соответствии с Постановлением Правительства РФ №55 от 19 января 1998 г., изделия медицинского назначения возврату и обмену не подлежат.
						li.rules__text В случае, если доставленный товар не соответствует вашему заказу, вы можете отказаться от заказа непосредственно в момент доставки и вернуть товар курьеру.
						li.rules__text Если вы обнаружили товар ненадлежащего качества в доставленном вам заказе, обратитесь, пожалуйста, к операторам интернет-магазина по телефону +7 (812) 528-13-43 или по адресу электронной почты: zakaz@euro-optica.ru. Оператор интернет-магазина проконсультирует вас о дальнейших действиях и объяснит процедуру возврата средств на ваш счет.
					
			  
				.rules__block
					p.rules__title Способы возврата #[br.mobile] денежных средств
					ol.rules__list
						li.rules__text При оплате наличными курьеру, возврат денежных средств может быть произведен на основании вашего заявления по адресу: Санкт-Петербург, Заневский пр. д.23.
						li.rules__text При оплате банковской картой, возврат денежных средств производится на ваш счет.
					p.rules__text.rules__text--margin12 При возникновении любых вопросов, связанных с оформлением, исполнением и доставкой заказов, а также в случае возникновения претензий по качеству товаров, обращайтесь к операторам интернет-магазина.
					p.rules__text.rules__text--nomargin С уважением, команда Диоптрики.
					