.modal_try_on.modal_form.modal(data-modal="modal_try_on")

	button.modal_close.modal_form__close(data-modal-close="")
		+svg('icon_cross', 'icon')

	h3.modal_try_on__title Как примерить очки?
	p.modal_try_on__text Понравились очки и хотите примерить? #[br.mobile] Есть три способа.

	ol.modal_try_on__list
		li.modal_try_on__item В наших салонах оптики вы можете примерить любую модель очков из представленных в наличии на сайте. Адреса наших магазинов смотрите #[a.link(href="/contacts") на странице контактов].
		li.modal_try_on__item Просто заказать очки с доставкой по Москве и МО на примерку. Наш курьер привезет вам до 4 выбранных моделей. Это бесплатно, при условии покупки любой подошедшей модели.
		li.modal_try_on__item У вас есть любые старые очки, в которых вам было комфортно? Можно померить их размер и уже хорошо ориентироваться при заказе. Самые важные параметры, это: ширина линзы и ширина по лицу. На каждой странице очков есть такая таблица, где указаны эти размеры.
	

