mixin servicesCard(title, text, button, link)
	a.services_card(href=link)
		p.services_card__title= title
		p.services_card__text!= text
		.services_card__btn.btn.btn--grey.btn--icon_right
			span.btn__text= button
			+svg('link_arrow', "btn__icon btn__icon--black btn__icon--right")

section#services.services_section
	.services_section__top
		h2.section_block__title Услуги
	
	.services_section__content
		+servicesCard('Подбор солнцезащитных очков', 'Для достижения максимального комфорта стоит знать основные правила подбора солнцезащитной оптики. Мы поможем вам правильно подобрать стильные солнцезащитные очки по форме вашего лица. Вы также сможете выбрать солнцезащитное средство с учетом других факторов.', 'Каталог очков', '/service_page')
		+servicesCard('Изготовление медицинских очков', 'При заполнении рецепта потребитель должен предъявлять свои медицинские документы (паспорт, страховой полис, направление врача, справку о наличии и диагнозе заболевания, справку из милиции об освобождении и т. д.).', 'заказать очки', '/service_page')
		+servicesCard('Подбор контактных линз', 'Если вы обратитесь в наш центр, наши врачи проведут ультразвуковую диагностика глаз с помощью нового аппарата LASIK, которая позволит определить состояние ваших глаз, выявить возможные аномалии рефракции. ', 'подобрать линзы', '/service_page')
		+servicesCard('Проверка своих очков', 'Проверка своих очков в медицинском центре. Делается это для того, чтобы определить какая их оправа наиболее подходит вам.', 'проверить', '/service_page')
		+servicesCard('Ремонт очков', 'Ремонт очков и контактных линз осуществляется по технологии адгезивной (химической) полимеризации. Технология адгесивной полимеризаци предполагает нанесение основы под полимеризацию – стекловолокна на внутреннюю сторону линзы.', 'заказать ремонт', '/service_page')
		+servicesCard('Индивидуальный сервис', 'В салонах оптики Диоптрика представлено более 100 ведущих мировых брендов солнцезащитных очков. Наши консультанты помогут вам с выбором идеальной формы.', 'все услуги', '/modal_return_call')