.about {
    padding: em(148) em(30) 0;

    @media(max-width: 750px) {
        padding: em(60) em(10) 0;
    }

    &__main_pic {
        height: auto;

        margin: em(30) 0;

        @media(max-width: 750px) {
            margin: em(20) 0;
        }

        .video {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }

    &__table {
        margin-top: em(30);

        width: 100%;
        border: 1px solid #000000;

        display: grid;
        grid-template-columns: 17% 27% 22% 15% 19%;

        @media(max-width: 750px) {
            margin-top: em(14);
            grid-template-columns: 100%;
        }
    }

    &__table_cell {
        padding: em(24);

        @media(max-width: 750px) {
            padding: em(14) em(10);
        }

        & + & {
            border-left: 1px solid #000000;

            @media(max-width: 750px) {
                border-top: 1px solid #000000;
                border-left: none;
            }
        }
    }

    &__table_text {
        font-family: $text-font;
        font-weight: 400;
        font-size: em(14);
        line-height: em(22,14);

        @media(max-width: 750px) {
            font-size: em(12);
            line-height: 1rem;
        }
    }

    &__gallery {
        margin-top: em(30);

        display: grid;
        grid-template-columns: 58% 41.15%;
        gap: 1em;

        @media(max-width: 750px) {
            grid-template-columns: 100%;
            gap: em(10);
        }
    }

    &__gallery_pic {
        height: auto;

        & + & {
            margin-top: 1em;

            @media(max-width: 750px) {
                margin-top: em(10);
            }
        }
    }
}