.header_catalog {
	position: absolute;
    left: 0;
    top: em(100);
    
    width: 23vw;
    height: calc(100vh - em(100));

    transition: transform .3s;

    background: #ffffff;
    
    opacity: 0;
	pointer-events: none;
	transform: translate3d(-10em,0,0);
	transition: transform .5s, opacity .5s;


	.is-catalog-open & {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		pointer-events: all;
	}

    &__menu {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

    &__top {
        padding: em(14) em(20);

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        font-family: $title-font;
        font-weight: 500;
        font-size: em(30);
        line-height: em(34,30);
        letter-spacing: -1px;
    }

    &__close {
        padding: 0;

        width: em(20);
        height: em(20);

        .icon {
            width: 100%;
            height: 100%;
        }
    }

    &__list {
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;

        padding: em(20);

        background: #ffffff;

        transition: background .2s;

        font-family: $button-font;
        font-weight: 400;
        font-size: em(14);
        line-height: em(20,14);
        text-transform: uppercase;

        .icon {
            width: em(20);
            height: em(20);
        }

        &:hover,
        &.is-active {
            background: #F4E8FF;
        }

        &--bottom {
            margin-top: auto;
            border-top: 1px solid #000000;
        }

        & + & {
            border-top: 1px solid #000000;
        }
    }

    &__categories {
        background: #ffffff;
        width: 62vw;
        height: fit-content;
        max-height: em(598);

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1px;

        position: absolute;

        top: 0;
        left: calc(23vw + 1px);

        opacity: 0;
        pointer-events: none;

        &.is-active {
            opacity: 1;
            pointer-events: all;
        }
    }

    &__categories_block {
        padding: em(20);

        display: flex;
        flex-direction: column;

        outline: 1px solid #000000;
    }

    &__categories_title {
        font-family: $title-font;
        font-weight: 500;
        font-size: em(18);
        line-height: em(26,18);

        margin-bottom: .33em;
    }
    
    &__categories_link {
        font-family: $button-font;
        font-weight: 400;
        font-size: em(12);
        line-height: em(16,12);

        &:hover {
            text-decoration: underline;
        }

        & + & {
            margin-top: .5rem;
        }
    }
}