.hits {
	padding: em(120) em(30) 0;	

    @media(max-width: 750px) {
        padding: em(30) em(10) 0;
    }

    &--last {
        padding-bottom: em(120);

        @media(max-width: 750px) {
            padding-bottom: em(36);
        }
    }

    &__top {
        display: flex;
        align-items: center;

        justify-content: space-between;
    }

    &__nav {

        @media(max-width: 750px) {
            display: none;
        }
    }

    &__tabs {
        margin-top: em(18);

        display: flex;
        align-items: center;

        @media(max-width: 750px) {
            margin-top: em(14);
        }

        .slash {
            font-family: $button-font;
            font-size: em(12);
            line-height: em(16,12);
            font-weight: 400;
            color: #000000;

            margin: 0 2px;
        }
    }

    &__tabs_btn {
        padding: 0;

        font-family: $button-font;
        font-size: em(12);
        line-height: em(16,12);
        font-weight: 400;
        color: #5E5E5E;

        &.is-active {
            color: #000000;
        }
    }

    &__inner {

        .hits__slider,
        .hits__slider_1 {
            display: none;

            &.is-active {
                display: flex;
            }
        }
    }

    &__block {

        & + & {
            margin-top: em(120);

            @media(max-width: 750px) {
                margin-top: em(60);
            }
        }
    }

    &__block--margin {
        margin-top: 2.125rem;

    }

    &__block_top {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__slider,
    &__slider_1, 
    &__slider_2,
    &__slider--promo {
        margin-top: em(30);

        @media(max-width: 750px) {
            margin-top: em(14);
        }
    }

    &__btn_more {
        width: 20%;
        height: em(44,12);
        margin-top: em(50,12);
        margin-left: auto;

        @media(max-width: 750px) {
            margin-top: 1.5em;
            width: 100%;
            margin-left: 0;
        }
    }
}