.modal_form {
	position: absolute;

	width: em(350);
	height: fit-content;
	top: 50%;
	left: 50%;
	
	padding: em(24);
	border-radius: 8px;

	overflow: hidden;
	background: white;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 4px 32px rgba(0, 0, 0, 0.16);

	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
	transform: translate3d(-50%, calc(-50% + 2em), 0);
	opacity: 0;

	transition: transform .35s, opacity .35s;

	@media(max-width: 750px) {
		width: 100vw;
		padding: em(6) em(10) em(10);
		top: auto;
		bottom: 0;
		border-radius: 6px 6px 0 0;
		transform: translate3d(-50%, calc(2em), 0);

		align-items: center;
	}

	&__success {
		align-items: center;
	}


	&.is-active {
		transform:  translate3d(-50%, -50%, 0);
		opacity: 1;
		pointer-events: all;

		@media(max-width: 750px) {
			transform:  translate3d(-50%, 0, 0);
		}

		.modal_form__inputs.is-active {
			pointer-events: all;
		}
	}

	&.on-request {
		pointer-events: none;
		opacity: .6;
	}

	// &.modal_offers {
	// 	width: em(956); 

	// 	@media(max-width: 750px) {
	// 		width: 90vw;
	// 		padding: em(24) em(24) em(20) em(24);
	// 	}
	// }

	// &.modal_presentation {
	// 	width: em(457);

	// 	@media(max-width: 750px) {
	// 		width: 90vw;
	// 		padding: em(24) em(20) em(20) em(20);
	// 	}
	// }


	&__close {
		top: em(14);
		right: em(14);

		width: 20px;
		height: 20px;
		padding: 0;
		background: transparent;

		@media(max-width: 750px) {
			top: em(10);
			left: em(10);
			right: auto;
		}

		.modal_card & {
			right: em(34);
		}

		.icon {
			fill: #000000;
			width: 100%;
			height: 100%;
		}
	}

	&__wrap {
		position: relative;
		width: 100%;
	}

	&__icon {
		width: em(200);
		height: em(200);
		margin-top: em(30);

		background: #F4F4F4;
		border-radius: 50%;

		display: flex;
		align-items: center;
		justify-content: center;

		.image {
			width: em(100);
			height: em(100);
		}
	}

	&__title {
		font-family: $title-font;
		font-weight: 500;
		font-size: em(30);
		line-height: em(34,30);

		@media(max-width: 750px) {
			font-size: em(18);
			line-height: em(26,18);

			text-align: center;
		}
	}

	&__text {
		font-family: $text-font;
		font-size: em(16);
		font-weight: 400;
		line-height: em(20,16);
		
		margin-top: em(8,16);

		@media(max-width: 750px) {
			font-size: em(14);
			line-height: em(22,14);

			margin-top: em(22,14);
			text-align: center;
		}

		&--12 {
			font-size: em(12);
			line-height: 1rem;

			margin-top: .5rem;
		}

		&--red {
			color: #FF0101;
			margin-top: .5em;
		}
	}

	&__inputs {
		margin-top: em(24);
		width: 100%;

		@media(max-width: 750px) {
			margin-top: em(16);
		}
	}

	&__inputs_wrap {
		display: grid;
		grid-template-columns: em(36) em(36) em(36) em(36);
		gap: .5rem;
	}

	&__buttons {
		width: 100%;
		margin-top: em(30);

		@media(max-width: 750px) {
			margin-top: em(16);
		}

		&--20 {
			margin-top: em(20);
		}

		&--44 {
			margin-top: em(44);
		}
	}

	&__btn_add {
		margin-top: 1.5rem;
	}

	&__btn {
		width: 100%;
		
		& + & {
			margin-top: em(10,14);
		}
	}


}