.modal_phone {
	
    &__content {
        margin-top: em(18);

        width: 100%;
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: $button-font;
        font-weight: 400;
        font-size: em(12);
        line-height: 1rem;

        padding: .5rem em(10,12);

        .icon {
            width: em(20);
            height: em(20);
        }
    }
}