.news_card_page {

    &__bg {
        margin-top: em(126);
        width: 100%;
        height: auto;

        margin-bottom: em(60);

        @media(max-width: 750px) {
            margin-top: em(40);

            margin-bottom: em(30);

            height: em(294);
        }	

        .image {
            object-fit: cover;

            &--desk {

                @media(max-width: 750px) {
                    display: none;
                }
            }

            &--mob {
                display: none;

                @media(max-width: 750px) {
                    display: initial;
                }
            }
        }
    }

    &__container {
        padding: 0 em(30) em(120);

        max-width: em(716);

        @media(max-width: 750px) {
            padding: 0 em(10) em(30);

            max-width: 100%;
        }
    }

    &__title {
        font-family: $title-font;
        font-weight: 700;
        font-size: em(40);
        line-height: 1em;
        letter-spacing: -1px;

        margin-bottom: .875rem;

        @media(max-width: 750px) {
            font-size: em(30);
            line-height: em(32,30);

            margin-bottom: .75rem;
        }
    }

    &__text {
        font-family: $text-font;
        font-weight: 400;
        font-size: em(16);
        line-height: em(24,16);

        @media(max-width: 750px) {
            font-size: em(14);
            line-height: em(22,14);
        }

        & + & {
            margin-top: 1.875rem;
        }
    }
}