.product_page_info_dropdown {


    &.is-active {
        .product_page_info_dropdown__content {
            max-height: 40em;
            margin-top: em(24);
            opacity: 1;
            pointer-events: all;


            &--38 {
                margin-top: em(38);
            }

            .modal_card & {
                margin-top: em(12);

                pointer-events: none;
            }
        }

        .icon {
            transform: rotate(270deg);
        }
    }
	
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        cursor: pointer;

        @media(max-width: 750px) {
            cursor: default;
            pointer-events: none;
        }

        .product_page_info_lenses__dropdown & {
            justify-content: flex-start;

            @media(max-width: 750px) {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        .icon {
            width: em(20);
            height: em(20);

            transform: rotate(90deg);
            transition: fill .5s, transform .5s;

            @media(max-width: 750px) {
                display: none;
            }

            .product_page_info_lenses__dropdown & {
                margin-left: auto;
            }
        }
    }

    &__content {
        margin-top: 0;
        max-height: 0;
        opacity: 0;
        pointer-events: none;
        transition: max-height .5s, opacity .5s, margin .5s;

        @media(max-width: 750px) {
            opacity: 1;
            pointer-events: all;

            margin-top: em(12);
            max-height: fit-content;
        }
    }	
}