.slider {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;

    @media(max-width: 500px) {
        // overflow: visible;
    }

    &__nav {
        display: flex;
        align-items: center;
        margin-top: em(50);

        @media(max-width: 500px) {
            flex-direction: column;
            margin-top: em(24);
        }
    }

    &__scroll {
        opacity: 1!important;
        flex: 1;
        height: 2px;
        border-radius: 3px;
        background: #ECECEC;

        @media(max-width: 500px) {
            width: 100%;
            flex: auto;
        }

        
        .swiper-scrollbar-drag {
            height: 100%;
            background: #242424;
            border-radius: 3px;
        }
    }

    &__pagination {
        font-family: $text-font;
        font-size: em(14);
        line-height: dm(22,14);
        font-weight: 400;

        margin: 0 em(12,14);

        @media(max-width: 750px) {
            margin: 0;
        }

        &.swiper-pagination-lock {
            display: none;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        // height: 22px;

        @media(max-width: 500px) {
            // margin-left: 0;
            // margin-top: em(20);
        }
    }

    &__button {
        width: 20px;
        height: 20px;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;

        transition: opacity .2s;

        &--prev {
            transform: scaleX(-1);
        }

        &:hover {
            opacity: .7;
        }

        svg {
            width: 100%;
            height: 100%;
            fill: #000000;

            transition: fill .2s;
        }

        &.swiper-button-lock {
            display: none;
        }

        &.swiper-button-disabled {
            pointer-events: none;
            opacity: .6;
        }

        & + & {
            margin-left: em(14);

            svg {
                // transform: scaleX(-1);
            }
        }
    }
}